---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import List from "../components/List.astro";
import AccordeonSvg from "../components/AccordeonSvg.astro";
import ButtonEnviarPedido from "../components/ButtonEnviarPedido.astro";
import ButtonSolicitarAsistencia from "../components/ButtonSolicitarAsistencia.astro";
import ButtonSolicitarCuenta from "../components/ButtonSolicitarCuenta.astro";
import data from "../data.json";

const entrantes = data.entrantes;
const principales = data.principales;
const postres = data.postres;
const bebidas = data.bebidas;

interface Producto {
	id: number;
	nombre: string;
	precio: number;
}

interface Data {
	entrantes: Producto[];
	principales: Producto[];
	postres: Producto[];
	bebidas: Producto[];
}
---

<Layout title="Welcome to quickorder.">
	<main>
		<div class="mx-auto max-w-screen-md mb-10">
			<Header />

			<div class="mt-5" id="accordion-arrow-icon" data-accordion="open">
				<h2 id="accordion-arrow-icon-heading-1">
					<button
						type="button"
						class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
						data-accordion-target="#accordion-arrow-icon-body-1"
						aria-expanded="false"
						aria-controls="accordion-arrow-icon-body-1"
					>
						<span class="font-bold">Entrantes</span>
						<AccordeonSvg />
					</button>
				</h2>
				<div
					id="accordion-arrow-icon-body-1"
					class="hidden"
					aria-labelledby="accordion-arrow-icon-heading-1"
				>
					<div
						class="p-5 border border-t-0 border-gray-200 dark:border-gray-700"
					>
						{
							entrantes.map((entrante) => (
								<List
									nombre={entrante.nombre}
									precio={entrante.precio}
								/>
							))
						}
					</div>
				</div>

				<hr class="h-px bg-gray-200 border-0 dark:bg-gray-700" />

				<h2 id="accordion-arrow-icon-heading-2">
					<button
						type="button"
						class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
						data-accordion-target="#accordion-arrow-icon-body-2"
						aria-expanded="false"
						aria-controls="accordion-arrow-icon-body-2"
					>
						<span class="font-bold">Principales</span>
						<AccordeonSvg />
					</button>
				</h2>
				<div
					id="accordion-arrow-icon-body-2"
					class="hidden"
					aria-labelledby="accordion-arrow-icon-heading-2"
				>
					<div
						class="p-5 border border-t-0 border-gray-200 dark:border-gray-700"
					>
						{
							principales.map((principal) => (
								<List
									nombre={principal.nombre}
									precio={principal.precio}
								/>
							))
						}
					</div>
				</div>

				<hr class="h-px bg-gray-200 border-0 dark:bg-gray-700" />

				<h2 id="accordion-arrow-icon-heading-3">
					<button
						type="button"
						class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
						data-accordion-target="#accordion-arrow-icon-body-3"
						aria-expanded="false"
						aria-controls="accordion-arrow-icon-body-3"
					>
						<span class="font-bold">Postres</span>
						<AccordeonSvg />
					</button>
				</h2>
				<div
					id="accordion-arrow-icon-body-3"
					class="hidden"
					aria-labelledby="accordion-arrow-icon-heading-3"
				>
					<div
						class="p-5 border border-t-0 border-gray-200 dark:border-gray-700"
					>
						{
							postres.map((postre) => (
								<List
									nombre={postre.nombre}
									precio={postre.precio}
								/>
							))
						}
					</div>
				</div>

				<hr class="h-px bg-gray-200 border-0 dark:bg-gray-700" />

				<h2 id="accordion-arrow-icon-heading-4">
					<button
						type="button"
						class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
						data-accordion-target="#accordion-arrow-icon-body-4"
						aria-expanded="false"
						aria-controls="accordion-arrow-icon-body-4"
					>
						<span class="font-bold">Bebidas</span>
						<AccordeonSvg />
					</button>
				</h2>
				<div
					id="accordion-arrow-icon-body-4"
					class="hidden"
					aria-labelledby="accordion-arrow-icon-heading-4"
				>
					<div
						class="p-5 border border-t-0 border-gray-200 dark:border-gray-700"
					>
						{
							bebidas.map((bebida) => (
								<List
									nombre={bebida.nombre}
									precio={bebida.precio}
								/>
							))
						}
					</div>
				</div>
			</div>

			<div class="container mt-5 flex flex-row justify-between">
				<ButtonEnviarPedido />

				<ButtonSolicitarAsistencia />

				<ButtonSolicitarCuenta />
			</div>
		</div>
	</main>
</Layout>
